.employees {
  list-style: none;
  padding: 5px;
}

li {
  margin: 10px;
  padding: 5px;
}

a {
  margin: 10px;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.list {
  background: grey;
  color: white;
  padding: 5px;
}

