<div *ngIf="employee">
  <div><h1>{{ employee.firstName }} {{ employee.lastName }}</h1></div>
  <div><span>Position:</span> {{ employee.position }}</div>
  <div><span>Abschluss:</span> {{ employee.degree }}</div>
  <div><span>Nationalität:</span> {{ employee.citizenship }}</div>
  <div *ngIf="employee.qualifications.length > 0">
    <div><h2>Qualifikationen</h2></div>
    <ul>
      <li *ngFor="let qualification of employee.qualifications">
        {{ qualification.name }}
      </li>
    </ul>
  </div>
  <p><button class="btn" (click)="goBack()">Zurück</button><button class="btn btn-primary">Edit</button></p>
  <button class="btn btn-danger"><i class="la la-trash"></i></button>
</div>






