<div class="container" *ngIf="employee">
  <h2> Mitarbeiter: {{ employee.firstName }}</h2>
  <label>
    <input [(ngModel)]="employee.firstName" placeholder="Name">
  </label>
  <table>
    <tr>
      <td>Name:</td>
      <td>{{ employee.firstName }} {{ employee.lastName }}</td>
    </tr>
    <tr>
      <td>Position:</td>
      <td>{{ employee.position }}</td>
    </tr>
    <tr>
      <td>Abschluss:</td>
      <td>{{ employee.degree }}</td>
    </tr>
  </table>
  <div>
    <ul class="employee">
      <li *ngFor="let qualification of employee.qualifications">
        {{ qualification.name }}
      </li>
    </ul>
  </div>
  <br>
  <button (click)="goBack()">Zurück</button>
</div>
