.technologies {
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
  border: 1px solid;
  text-align: center;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.btn {
  margin-right: 0.2rem;
}
