<h1 class="mb-3">{{ title }}</h1>
<form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Vorname</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             placeholder="Vorname"
             [(ngModel)]="employee.firstName"
             name="firstName"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nachname</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             placeholder="Nachname"
             [(ngModel)]="employee.lastName"
             name="lastName"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Position</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             placeholder="Position"
             [(ngModel)]="employee.position"
             name="position"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Abschluss</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             placeholder="Abschluss"
             [(ngModel)]="employee.degree"
             name="degree"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nationalität</label>
    <div class="col-sm-10">
      <input type="text"
             class="form-control"
             placeholder="Nationalität"
             [(ngModel)]="employee.citizenship"
             name="citizenship"
             required>
    </div>
  </div>
  <ng-container *ngIf="qualifications">
    <div class="form-group row">
      <div class="col-sm-2">Qualifikationen</div>
      <ng-container *ngFor="let qualification of qualifications">
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="{{ qualification.id }}"
                   name="{{ qualification.id }}"
                   [(ngModel)] = "qualification.selected"
                   (click)="select(qualification)">
            <label class="form-check-label" for="{{ qualification.id }}">
              {{ qualification.name }}
            </label>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-danger" routerLink="/"><i class="la la-times-circle-o"></i></button>
      <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.form.valid"><i class="la la-check-circle"></i></button>
    </div>
  </div>
</form>

